@font-face {
  font-family: "Bright";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Bright-Star.ttf") format("woff");
}

@font-face {
  font-family: "Material";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Slenco-Black\ demo.otf") format("woff");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Material;
  width: 100%;
  height: 100vh;
  background: url("../images/bg.jpg") no-repeat;
  background-position: 40%;
  background-size: contain;
  background-color: #e3e8ee;
}

ul {
  list-style: none;
}

.js-loading * {
  display: none;
}


/* OVERLAY  */
.overlay {
  font-family: Bright;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 99;
  background: #fddb01;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: transform-up 1.3s 1s ease-in-out forwards;
}

.overlay h1 {
  font-size: 60px;
  margin-bottom: 20px;
  letter-spacing: 20px;
  animation: fade-up 1.4s ease-in-out forwards;
  
}
.overlay h4 {
  font: 20px;
  letter-spacing: 10px;
  animation: fade-up 1.7s ease-in-out forwards;
}

/* NAVBAR  */

.navbar {
  width: 250px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  font-family: Bright;
  flex: 0 0 50%;
  display: flex;
  background-color: #fddb01;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logo h1 {
  font-size: 10px;
  font-weight: 300;
}

.logo h1 > span {
  font-size: 30px;
  font-weight: 600;
}

.menu {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
}

.menu ul {
  width: 100%;
}

.menu ul li {
  padding: 10px;
  text-transform: uppercase;
  font-size: 20px;
  cursor: pointer;
}

.menu ul li:hover {
  background-color: rgb(36, 36, 36);
  color: white;
}

.scrolldown {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(-90deg);
}

.scrolldown::before {
  content: "";
  border-top: 1px solid rgb(36, 36, 36);
  width: 100px;
  margin: 0 10px 0 0;
}

.text {
  position: absolute;
  top: 25%;
  right: 180px;
  text-align: right;
  transform: translateY(-50%);
}

.text .title {
  font-size: 190px;
}
.text p {
  font-size: 20px;
  text-align: right;
}

.whatchnow {
  position: absolute;
  top: 60%;
  right: 0;
  width: 400px;
  background-color: #fddb01;
  height: 200px;
  display: flex;
  align-items: center;
  padding: 20px;
  transform: translateY(-50%);
}
.whatchnow ion-icon {
  font-size: 36px;
  border: 2px solid #000;
  border-radius: 50px;
  padding: 3px 2px 3px 3px;
  margin-right: 15px;
}
.whatchnow a {
  text-decoration: none;
  font-size: 36px;
  text-transform: uppercase;
  color: rgb(36, 36, 36);
  border-bottom: 5px solid #000;
  padding-bottom: 5px;
}

.media {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 60px;
}

.media ul {
  display: flex;
}

.media ul li {
  display: flex;
  padding: 20px;
  margin: 0;
  font-size: 24px;
  cursor: pointer;
  color: #000;
  border-radius: 50px;
}

.media ul li:hover {
  background-color: #fddb01;
}

.ellipse-container {
  width:700px;
  height: 700px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left:44%;
  margin: 0 auto;
  z-index: -1;
  transform: translate(-50%,-50%);
  z-index: -1;
}

.ellipse {
  position: absolute;
  top: 0%;
  border-radius: 50%;
  border-style: solid;
}

.ellipse.thin{
  width: 100%;
  height: 100%;
  border-width: 1px;
  border-color: rgb(36, 36, 36);
  opacity: 0.5;
}

.ellipse.thick{
  width: 94%;
  height: 94%;
  border-width: 10px;
  transform: rotate(-45deg);
  top: 20px;
  left: 20px;
  border-color: white;
}

.ellipse.yellow{
  width: 94%;
  height: 94%;
  border-width: 10px;
  transform: rotate(-45deg);
  top: 20px;
  left: 20px;
  border-color: #fddb01 transparent;
  animation: elips-rotate 2.5s ease-in-out infinite;
}


.circle1,
.circle2{
  border: 1px solid #000;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  position: absolute;
}

.circle1{
  top: 60px;
  left: 280px;
}
.circle2{
  bottom: 110px;
  right: 250px;
}

.circle1::before,
.circle2::before,
.circle1::after,
.circle2::after{
  content: '';
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.circle1::before,
.circle2::before{
  width: 12px;
  height: 12px;
  background-color: #fff;
  z-index: 1;
}

.circle1::after,
.circle2::after{
  width: 40px;
  height: 40px;
  background-color: #fddb01;
}

.circle1 span,.circle2 span {
  position: absolute;
  width: 200px;
  top: 25px;
  font-size: 14px;
}

.circle1 span {
  left:75px;
}
.circle2 span {
  left: -115px;
}


@keyframes elips-rotate {
  0% {
    transform: rotate(-45deg)
  }
  100% {
    transform:rotate(-405deg);
  }
}


@keyframes fade-up {
  0% {
    transform: none;
  }
  50%{
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-800px);
    opacity: 0;
  }
}

@keyframes transform-up {
  0% {
    transform: none;
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes pop-up {
  0% {
    transform: translateY(80px);
  }
  100% {
    transform: none;
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(-1000px);
  }
  100% {
    transform: none;
  }
}

@keyframes sponser-slide-left {
  0% {
    transform: translateY(1000px) rotate(-90deg);
  }
  100% {
    transform: rotate(-90deg);
  }
}

@keyframes sponser-slide-right {
  0% {
    transform: translateY(-1000px) rotate(-270deg);
  }
  100% {
    transform: rotate(-270deg);
  }
}
